@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
    --preto: #18191E;
    --cinza-escuro: #30333b;
    --cinza: #565d67;
    --azul: #5090ea;
    --amarelo: #F5BC4C;
    --laranja: #FFA500;
    background-color: var(--cinza-escuro);
    color: white;
    font-family: "Inter", sans-serif;
    
}

header {
    text-align: center;
    font-weight: 600;
}

h2, h3 {
    text-align: center;
}

textarea {
    background-color: var(--preto);
    border-color: var(--cinza);
    color: white;
}

section {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#pergunta-redacao-index {
    display: flex;
}

#opcoes-index {
    text-align: center;
}

.botao {
    text-decoration: none;
    color: var(--laranja);
    background-color: var(--cinza);
    padding: 15px;
    border-radius: 15px;
    transition: 0.2s all;
    font-size: 15px;
    border-style: none;
    cursor: pointer;
    width: max-content;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10px;
}

.botao:hover {
    background-color: var(--preto);
    color: var(--azul);
    transition: 0.2s all;
}

#section-upload form {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
